__pycache__/
__pycache__
assets/external/
.web
.states
*.py[cod]
PGC 2.0.py
PGC consultas.py
PGC.py
texture_generator.py
Ejemplos de Mecanicas Ursina/Animaciones o efectos al interactuar.py
Ejemplos de Mecanicas Ursina/Detección de colisiones avanzada.py
.gitignore
.gitignore
Ejemplos de Mecanicas Ursina/Interaccion Multiples Objetos.py
Ejemplos de Mecanicas Ursina/Recoger Objetos.py
Ejemplos de Mecanicas Ursina/Reiniciar la simulación si el jugador cae.py
Ejemplos de Mecanicas Ursina/Retroalimentación de audio en la interacción.py
Ejemplos de Mecanicas Ursina/Soltar objetos.py
PGC Modulos
.venv
texture_generator/kaolin/
prueba_destruccion.py
